.coming-soon {
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  background-color: $gray;

  h2,
  h5 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 800;
    font-size: 1.2rem;
  }

  @include media-breakpoint-up(md) {
    background-color: $gray;
    padding: 0;
    height: 60vh;

    .row {
      height: 60vh;
      align-items: center;
    }

    .col-md-6 {
      background-color: $white;
      padding: 1.6rem;
      -webkit-box-shadow: 0 10px 6px -6px #777;
      -moz-box-shadow: 0 10px 6px -6px #777;
      box-shadow: 0 10px 6px -6px #777;
    }
  }
}
