.suggestion-card {
  margin: 0.6rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.6rem;
  font-size: 0.8rem;
  .user {
    display: flex;
    justify-content: space-between;
    .info {
      margin-left: 0.4rem;
      align-self: flex-start;
      h6,
      p {
        margin-bottom: 0;
      }
      p {
        color: $dark;
      }
    }
  }
  img {
    width: 4rem;
    height: 100%;
  }
}
