.filters {
  margin-top: 1rem;
  padding: 0 1rem;

  .rating {
    .star-buttons {
      display: flex;
      justify-content: space-between;
    }
  }

  .duration,
  .days {
    .time-buttons,
    .days-buttons {
      display: flex;
      justify-content: space-between;
    }
  }

  .intensity {
    label {
      font-size: 0.8rem;
      margin-bottom: 0.2rem;
    }
  }
}
