.workout-card,
.routine-card,
.meal-plan-card {
  width: 95%;
  margin: 1rem auto;
  background-color: $white;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.6rem;
    .creator {
      display: flex;
      img {
        width: 2.4rem;
        height: 100%;
      }
      span {
        margin-left: 0.4rem;
        align-self: flex-end;
        vertical-align: bottom;
        line-height: 0.8rem;
      }
      .date {
        font-size: 0.8rem;
      }
    }
    .feedback {
      display: flex;
      font-size: 0.9rem;
      align-items: flex-end;
      vertical-align: bottom;
      color: $gray-600;
      line-height: 0.8rem;
    }
  }
  .body {
    padding: 0.6rem;
    .body-top {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      h6 {
        font-weight: 700;
        margin-bottom: 0.2rem;
        margin-right: 0.6rem;
      }
      .rating {
        display: flex;
        align-items: center;
        i.star {
          font-size: 0.6rem;
          color: $primary;
        }
        .rating-value {
          font-size: 0.8rem;
          margin-bottom: 0.2rem;
        }
        label {
          margin-bottom: 0;
          padding-bottom: 0.4rem;
        }
      }
    }

    p {
      margin-bottom: 0;
      font-size: 0.8rem;
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
    padding-top: 0;
    font-size: 0.8rem;
  }
}
