.feed {
  padding-top: 1rem;
  min-height: 100vh;
  background-color: $gray;
  .main-feed {
    padding: 0;
    .main-feed-header {
      width: 95%;
      margin: 0 auto;
      padding: 0.2rem 0.4rem;
      h5 {
        font-size: 1.2rem;
        margin-bottom: 0;
      }
    }
  }
  .suggestions {
    background-color: $white;
  }
}
