.feed {
  padding-top: 1rem;
  min-height: 100vh;
  background-color: $gray;
  .main-feed {
    padding: 0;
    .main-feed-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      margin: 0 auto;
      h5 {
        font-size: 1.2rem;
        margin-bottom: 0;
      }
      .plus-icon {
        font-size: 0.6rem;
        vertical-align: top;
      }
    }
  }
  .suggestions {
    padding: 0;
    width: 95%;
    margin: 0 auto;
    .suggestions-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h5 {
        font-size: 1.2rem;
        margin-bottom: 0;
      }
    }
    .suggestion-cards {
      background-color: $white;
    }
  }
}
