.login {
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1rem;

  .logo {
    width: 3rem;
  }

  h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 800;
    font-size: 1.2rem;
  }

  .form-group {
    text-align: left;
    label {
      margin-bottom: 0;
    }
  }

  button {
    margin-top: 1.6rem;
    margin-bottom: 1.8rem;
  }

  .login-links {
    a {
      font-size: 1rem;
      color: $green;
    }

    span {
      margin: 0 0.2rem;
      color: $green;
    }
  }

  @include media-breakpoint-up(md) {
    background-color: $gray;
    padding: 0;

    .row {
      height: 100vh;
      align-items: center;
    }

    .col-md-6 {
      background-color: $white;
      padding: 1.6rem;
      -webkit-box-shadow: 0 10px 6px -6px #777;
      -moz-box-shadow: 0 10px 6px -6px #777;
      box-shadow: 0 10px 6px -6px #777;
    }
  }
}
