// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  .logo-wrapper {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 2.2rem;
    vertical-align: middle;
  }

  .user-wrapper {
    align-self: center;
    font-size: 0.8rem;
    ul {
      display: flex;
      justify-content: flex-end;
    }

    .profile-pic {
      width: 2.2rem;
    }
  }

  .main-wrapper {
    margin-top: 1rem;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;

      font-size: 1.4rem;

      a {
        padding-bottom: 0;
        &.active {
          color: $green !important;
          border-bottom: solid $green 2px;
        }
      }
    }

    .header-link {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    .logo {
      width: 2.6rem;
    }

    .main-wrapper {
      ul {
        i {
          font-size: 1.6rem;
        }
      }
    }

    .user-wrapper {
      .profile-pic {
        width: 2.6rem;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .main-wrapper {
      ul {
        i {
          font-size: 1.2rem;
        }
        a {
          padding-bottom: 0.2rem;
        }
        .header-link {
          font-size: 1rem;
          display: inline-block;
          margin-left: 0.4rem;
        }
      }
    }
  }
}
